#container {
  margin: 0;

  #logo {
    background-color: midnightblue;
    width: 100vw;
  }
}

#logotop {
  border-radius: 50%;
  margin-right: 10px;
}

.top {
  display: flex;
  align-items: center;
}

.list {
  transform: translateY(-20px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fff;
  padding-top: 20px;
}

.card {
  box-shadow: 0 0 8px 0 #555;
  border-radius: 5px;
  margin: 10%;

  img {
    height: 250px;
    width: 100%;
  }

  div {
    text-align: center;
  }

  h3 {
    color: midnightblue;
    padding: 0;
    margin: 0;
  }

  h1 {
    color: maroon;
    margin-bottom: 10px;
  }
}

h2 {
  text-align: center;
  text-shadow: 0 0 2px orange, 0 0 3px red;
  color: #444;
}